body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #333;
  margin: 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.generator-card,
.result-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

h2,
h3 {
  margin-top: 0;
  color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

.api-key-group {
  margin-bottom: 25px;
}

.input-with-button {
  display: flex;
  gap: 10px;
}

.input-with-button input {
  flex-grow: 1;
  background-color: #e9ecef;
}

.input-with-button button {
  flex-shrink: 0;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Important */
}

.btn-primary {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px; /* Add margin to the bottom */
}
.result-card pre {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.result-card code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
